
body{
	background-color:white;
}
h1 {
  text-align: center;
  background-color: bisque;;
  background-size: contain;
  }
p{
  font-style: oblique;
  }
footer{
  text-align: center;
  background-color: bisque;
  background-size: contain;
}